################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.vsidx
*.suo
/.vs/RZRV.APP/v17/DocumentLayout.json
