@using RZRV.APP.ViewModel
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3"><a href="index.html"><img src="images/logo-full.png" alt=""></a></div>
                                <h4 class="text-center mb-4">وارد حساب کاربری خود شوید</h4>
                                <form asp-action="Login" method="post">
                                    @Html.AntiForgeryToken()
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group">
                                        <label class="mb-1"><strong>نام کاربری</strong></label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="mb-1"><strong>کلمه عبور</strong></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="row d-flex justify-content-between mt-4 mb-2">
                                        <div class="mb-3">
                                            <div class="form-check custom-checkbox ms-1">
                                                <input type="checkbox" class="form-check-input" id="basic_checkbox_1"><label class="form-check-label" for="basic_checkbox_1">ترجیح من را به خاطر بسپار</label>
                                            </div>
                                        </div>
                                        <div class="mb-3"><a href="page-forgot-password.html">رمز عبور را فراموش کرده اید؟</a></div>
                                    </div>

                                    <div class="text-center"><button type="submit" class="btn btn-primary btn-block">ورود به سیستم</button></div>
                                </form>
                                <div class="new-account mt-3"><p>حساب کاربری ندارید؟<a class="text-primary" href="./page-register.html">ثبت نام</a></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


